# Files over 4mb
1OI/cuk5.in
1OI/cukin21
1OI/cuk4.in
1OI/cuk21.in
1OI/grabang
6PA/inou/kol12.in
6PA/inou/kol27.in
6PA/inou/kol20.in
6PA/inou/kol38.in
6PA/inou/kol24.in
6PA/inou/kol19.in
6PA/inou/kol37.in
6PA/inou/kol35.in
6PA/inou/kol40.in
6PA/inou/kol34.in
6PA/inou/kol36.in
6PA/inou/kol39.in
6PA/inou/kol28.in
6PA/inou/kol25.in
6PA/inou/kol31.in
6PA/inou/kol30.in
6PA/inou/kol15.in
6PA/inou/kol29.in
6PA/inou/kol23.in
6PA/inou/kol33.in
6PA/inou/kol22.in
6PA/inou/kol26.in
6PA/home
